

<h2>EditUsers</h2>

<div id="gridSample" data-bind="kendoGrid: items"> </div>

<div id="koUserLoginsGrid" data-bind="kendoGrid: { data: userLogins, scrollable: true, sortable: true, pageable: { pageSize: 10 } }">
    <div class="k-header k-grid-toolbar k-grid-top">
        <a class="k-button k-button-icontext k-grid-AddUserLogin" href="/">
            <span class="k-icon k-i-plus">
            </span>Add User
        </a>
    </div>
</div>



<script src="~/App_Dist/webpack/admin.bundle.js"></script>


@*<script id="rowUserLogin" type="text/html">
        <tr role="row">
            <td role="gridcell" style="width: 100%">
                <label data-bind="text: userLoginId" ></label>
            </td>
            <td role="gridcell" style="width: 100%">
                <label data-bind="text: userId" ></label>
            </td>
            <td role="gridcell" style="width: 100%">
                <input data-bind="value: userName" />
            </td>
            <td role="gridcell" style="width: 100%">
                <input data-bind="value: email" />
            </td>
        </tr>
    </script>*@