
<script src="~/App_Dist/webpack/admin.bundle.js"></script>

@if ((bool)ViewBag.IsLoggedIn)
{
    Html.RenderPartial("_topmenu");
}

<h2>EditUsers</h2>

<div id="gridSample" data-bind="kendoGrid: items"> </div>

<div id="koUserLoginsGrid" data-bind="kendoGrid: { data: userLogins, rowTemplate: 'rowUserLogin', useKOTemplates: true }"> </div>

<script id="rowUserLogin" type="text/html">
    <tr role="row">
        <td role="gridcell" style="width: 100%">
            <input data-bind="text: userLoginId" />
        </td>
        <td role="gridcell" style="width: 100%">
            <input data-bind="text: userId" />
        </td>
        <td role="gridcell" style="width: 100%">
            <input data-bind="text: userName" />
        </td>
        <td role="gridcell" style="width: 100%">
            <input data-bind="value: email" />
        </td>
    </tr>
</script>