
<script src="~/App_Dist/webpack/Home.bundle.js"></script>


@*<span id="jqueryVersion"></span>*@

@*@Html.Partial("_loginBar")*@



    @if ((bool)ViewBag.IsLoggedIn)
    {
        Html.RenderPartial("_topmenu");
    }

    @*
        <select id="sel">
            <option>Foo</option>
            <option>Bar</option>
        </select>*@

    @Html.Partial("_truckload-home")


    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Truckload</p>
    </footer>

