
<div style="width: 428px; display: table-cell;">
    <table style="width: 100%">
        <tr>
            <td style="width: 25%">
                <button type="button" title="Filter Orders" class="btn btn-default day-nav-button" style="float: left"
                        onclick="app.module.setOrderFilter()">
                    <span id="orderFilterIcon" class="k-icon k-i-filter"></span>
                </button>
            </td>
            <td style="text-align: center">
                <strong>Order Central</strong>
            </td>
            <td style="width: 25%"></td>
        </tr>
    </table>

    @*<div id="koSimpleOrderGrid" style="background: rgb(236, 255, 251)"
         ondragover="OrderCentral.allowDropOrder(event)"
         ondrop="OrderCentral.dropOrderOnOrders(event)"
         data-bind="kendoGrid: { data: orders, rowTemplate: 'rowTmpl', useKOTemplates: true }"></div>

    <div name="gridCountInfo" class="k-pager-wrap k-grid-pager k-widget" data-role="pager">
        <a href="#" class="k-pager-refresh k-link" title="Refresh">
        </a><span class="pager-info k-label"><span id="orderGridCount"></span> Orders Waiting</span>
    </div>

    @Html.Partial("../Orders/_OrderGridCell")*@
</div>