
<div id="koOrderModel" style="width: 363px">
    <button type="button" title="Filter Orders" class="btn btn-default day-nav-button" style="float: left"
            data-bind="click: setOrderFilter">
        <span id="orderFilterIcon" class="k-icon k-i-filter"></span>
    </button>
    <span>
        <strong>Order Central</strong>
    </span>

    <div id="koOrderGrid" style="background: rgb(236, 255, 251)"
         ondragover="OrderCentral.allowDropOrder(event)"
         ondrop="OrderCentral.dropOrderOnOrders(event)"
         data-bind="kendoGrid: { data: orders, rowTemplate: 'rowTmpl', useKOTemplates: true }"></div>

    <div name="gridCountInfo" class="k-pager-wrap k-grid-pager k-widget" data-role="pager">
        <a href="#" class="k-pager-refresh k-link" title="Refresh">
        </a><span class="pager-info k-label"><span data-bind="text: orders().length"></span> Orders Waiting</span>
    </div>

    @Html.Partial("../Orders/_OrderGridCell")
</div>