
<div id="koOrderModel" style="width: 357px; float:left">
    <table style="width: 100%">
        <tr>
            <td style="width: 25%">
                <button type="button" title="Filter Orders" class="btn btn-default day-nav-button" style="float: left"
                        data-bind="click: setOrderFilter">
                    <span id="orderFilterIcon" class="k-icon k-i-filter"></span>
                </button>
                <button type="button" title="Screen Size" class="btn btn-default day-nav-button" style="float: left"
                        data-bind="click: setScreenSize">
                    <span class="k-icon k-i-image-resize"></span>
                </button>
            </td>
            <td style="text-align: center">
                <strong>Order Central</strong>
            </td>
            <td style="width: 25%">
                <button type="button" title="Add Order" class="btn btn-default day-nav-button" style="float: right"
                        data-bind="click: addOrder">
                    <span class="k-icon k-i-plus"></span>
                </button>
            </td>
        </tr>
    </table>
    <div id="koOrderGrid" style="background: rgb(236, 255, 251)"
         ondragover="app.main.allowDropOrder(event)"
         ondrop="app.main.dropOrderOnOrders(event)"
         data-bind="kendoGrid: { data: orders, rowTemplate: 'orderRowTemplate', useKOTemplates: true }"></div>

    <div class="k-pager-wrap k-grid-pager k-widget" data-role="pager">
        <a href="#" class="k-pager-refresh k-link" title="Refresh">
        </a><span class="pager-info k-label" style="margin-left: 40px"><span data-bind="text: orders().length"></span> Orders Waiting</span>
    </div>
</div>

@Html.Partial("../Orders/_AdjustScreenSize")
@Html.Partial("../Orders/_OrderGridCell")