
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truckload</title>
    <link href="~/App/content/images/app_icon.png" rel="shortcut icon" type="image/x-icon" />
    
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../node_modules/@Html.Raw("@")progress/kendo-ui/css/web/kendo.common.min.css">
    <link rel="stylesheet" href="../node_modules/@Html.Raw("@")progress/kendo-ui/css/web/kendo.default.min.css">
    <link href="~/App/content/css/custom-bootstrap.css" rel="stylesheet" />
    <link href="~/App/content/css/compiled-home.css" rel="stylesheet" />
    
</head>
