<div id="preLoad">
    <div>
        <img src="~/node_modules/@Html.Raw("@")progress/kendo-ui/css/web/Silver/loading-image.gif"
             alt="Loading Image" style="width: 48px;" />
        <br />Loading...
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#preLoad").css("opacity", "0").css("visibility", "hidden");
    });
</script>
