
<ul id="menu">
    <li>Order Central</li>
    <li>Home</li>
    <li>
        Admin
        <ul>
            <li>User Logins</li>
            <li>Drivers</li>
            <li>Trucks</li>
            <li>Trailers</li>
        </ul>
    </li>
</ul>


