@{
    var isAdmin = (bool)ViewBag.IsAdmin;
    var siteUrl = ViewBag.SiteUrl;
}

<ul id="menu">
    <li>Order Central</li>
    <li>
        <a href="@(siteUrl + "Home/Index")">Home</a>
    </li>
    <li class="@(!isAdmin? "k-state-disabled": "")">
        <img src="~/App/Content/images/admin_small.png" />
        Admin
        <div class="k-animation-container">
            <ul class="k-group k-menu-group k-popup k-reset">
                <li><a href="@(siteUrl + "Admin/EditUsers")">User Logins</a></li>
                <li><a href="@(siteUrl + "Admin/TestGrid")">Test Grid</a></li>
                <li>Drivers</li>
                <li>Trucks</li>
                <li>Trailers</li>
            </ul>
        </div>
    </li>
</ul>


