

<div  class="modal" role="dialog" data-bind="attr: {id: 'koModalEditLoad_' + dayNumber }">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header k-window-titlebar k-dialog-titlebar k-header" style="padding-top: 15px; padding-bottom: 0; padding-left: 15px; min-height: 75px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Load <span data-bind="text: editLoad.loadId"></span></h4>
                <span style="font-size: 10px; position: absolute;" data-bind="text: editLoad.loadDateText"></span>
            </div>
            <div class="modal-body" style="height: 470px">
                <div class="row form-group">
                    <div class="col-md-5">
                        <select class="form-control"
                                data-bind="
                                        enable: editLoad.isEditable,
                                        options: shared.dropDownData.truckList,
                                        optionsText: 'text',
                                        optionsValue: 'valueInt',
                                        optionsCaption: 'Truck...',
                                        value: editLoad.truckId"></select>
                    </div>
                    <div class="col-md-5">
                        <select class="form-control"
                                data-bind="
                                        enable: editLoad.isChangeStatusAllowed,
                                        options: shared.dropDownData.loadStatusList,
                                        optionsText: 'text',
                                        optionsValue: 'valueInt',
                                        value: editLoad.loadStatusId"></select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-5">
                        <select class="form-control"
                                data-bind="
                                        enable: editLoad.isEditable,
                                        options: shared.dropDownData.trailerList,
                                        optionsText: 'text',
                                        optionsValue: 'valueInt',
                                        optionsCaption: 'Trailer...',
                                        value: editLoad.trailerId"></select>
                    </div>
                    <div class="col-md-5">
                        <input data-bind="kendoDateTimePicker: {value: editLoad.loadDate, enabled: editLoad.isEditable}" />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-5">
                        <select class="form-control"
                                data-bind="
                                        enable: editLoad.isEditable,
                                        options: shared.dropDownData.driverList,
                                        optionsText: 'text',
                                        optionsValue: 'valueInt',
                                        optionsCaption: 'Driver...',
                                        value: editLoad.driverId"></select>
                    </div>
                </div>

                @*<script>
                    $(function () {
                        $("#sortableList").sortable();
                        $("#sortableList").sortable("option", "disabled", true);
                        $("#sortableList").disableSelection();
                    });
                </script>

                <ul id="sortableList" data-bind="foreach: { data: editLoad.ordersList }">
                    <li class="sortableOrder">
                        <div id="sortOrderListRow">
                            <span name="orderId" style="display: none" data-bind="text: orderId"></span>
                            <span class="sortableListItem" style="width: 180px" data-bind="text: orderNumber"></span>
                            <span class="sortableListItem" style="width: 130px" data-bind="text: unitDescription"></span>
                            <span class="sortableListItem" style="width: 130px" data-bind="text: warehouseDescription"></span>
                            <img class="listItemImage" title="Dangerous Goods" data-bind="visible: isDangerousGoods" src="@ViewBag.AppPath/App/Content/Images/poison_small.png" />
                            <img class="listItemImage" title="Customer Pickup" data-bind="visible: isCustomerPickup" src="@ViewBag.AppPath/App/Content/Images/customer_pickup3_small.png" />
                        </div>
                    </li>
                </ul>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: editLoad.save">Ok</button>
                <button type="button" class="btn btn-default" data-bind="click: editLoad.cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
