<div id="loadPanels" data-bind='foreach: { data: loadCols }'>
    <div @*class="loadCol"*@ style="width: 357px; height: 1000px; float: left;">
        <div style="float: left">
            <button type="button" title="Previous Day" class="btn btn-default day-nav-button" style="float: left"
                    data-bind="click: $parent.previousDay, visible: dayNumber===1">
                <span class="k-icon k-i-undo"></span>
            </button>
        </div>
        <div style="float: left" data-bind="visible: dayNumber===1">
            <input class="miniKendoDatePicker"
                   data-bind="attr: {id: 'miniLoadDateButton' + dayNumber }, kendoDatePicker: $parent.day1Date" />
        </div>
        <div style="float: left; margin-left: 10px" data-bind="text: textDate"></div>
        <div style="float: right">
            <button type="button" title="Next Day" class="btn btn-default day-nav-button" style="float: right"
                    data-bind="click: $parent.nextDay, visible: isLastDay">
                <span class="k-icon k-i-redo"></span>
            </button>
        </div>
        <div style="float: right">
            <button type="button" title="Create Load" class="k-button k-button-icontext create-load-button"
                    data-bind="click: createLoad">
                <span class="k-icon k-i-plus"></span>
            </button>
        </div>
    </div>
</div>

