<div id="loadPanels" data-bind='foreach: { data: loadCols }'>
    <div @*class="loadCol"*@ style="width: 357px; float: left;">
        <div style="float: left">
            <button type="button" title="Previous Day" class="btn btn-default day-nav-button" style="float: left"
                    data-bind="click: $parent.previousDay, visible: dayNumber===1">
                <span class="k-icon k-i-undo"></span>
            </button>
        </div>
        <div style="float: left" data-bind="visible: dayNumber===1">
            <input class="miniKendoDatePicker"
                   data-bind="attr: {id: 'miniLoadDateButton' + dayNumber }, kendoDatePicker: $parent.day1Date" />
        </div>
        <div style="float: left; margin-left: 10px" data-bind="text: textDate"></div>
        <div style="float: right">
            <button type="button" title="Next Day" class="btn btn-default day-nav-button" style="float: right"
                    data-bind="click: $parent.nextDay, visible: isLastDay">
                <span class="k-icon k-i-redo"></span>
            </button>
        </div>
        <div style="float: right">
            <button type="button" style="margin-bottom: 2px;" title="Create Load" class="k-button k-button-icontext create-load-button"
                    data-bind="click: newLoad.createLoad">
                <span class="k-icon k-i-plus"></span>
            </button>
        </div>

        <div style="background: rgb(226, 244, 255);clear: both"
             data-bind="kendoGrid: { data: loads, rowTemplate: 'rowTemplateLoad', useKOTemplates: true }
             ,attr: { id: 'koLoadGrid_' + dayNumber }
             "></div>

        <div name="gridCountInfo" class="k-pager-wrap k-grid-pager k-widget" data-role="pager">
            <a href="#" class="k-pager-refresh k-link" title="Refresh">
            </a><span class="pager-info k-label" style="margin-left: 40px">( <span data-bind="text: fullLoadsCount"></span> ) Full Loads ( <span data-bind="text: partialLoadsCount"></span> ) Partial Loads</span>
        </div>
    </div>

    @Html.Partial("../Loads/_NewLoad")

</div>

@Html.Partial("../Loads/_EditLoad")
@Html.Partial("../Loads/_LoadGridCell")