@using Kendo.Mvc.UI
@using truckload.Helpers.Vm


<div class="row">
    <div class="col-xs-4" style="margin-top: 9px; font-size: 30px;font-weight: 500;">
        <img style="height: 60px; padding-bottom: 5px" src="~/App/Content/Images/warehouse.png" />
        <span>Warehouses</span>
    </div>
</div>

<script src="~/App_Dist/webpack/admin.bundle.js"></script>

<p></p>
@(Html.Kendo().Grid<VmWarehouse>()
                  .Name("grid")
                  .Columns(columns =>
                  {
                      columns.Bound(r => r.WarehouseId).Title("Id").Width(50);
                      columns.Bound(r => r.WarehouseCode).Title("Name").Width(100);
                      columns.Bound(r => r.Description).Title("Name").Width(100);


                      columns.Template(e => { }).Title("Delete").Width(40)
                          .ClientTemplate("<button type='button' title='Delete Warehouse' class='k-button k-button-icontext' style='min-width: auto;' onclick='app.module.btnDeleteClick(this)' ><span class='k-icon k-i-close'></span></button>")
                          .HtmlAttributes(new { @style = "padding: 0" });

                  })
                  .ToolBar(toolbar =>
                  {
                      //toolbar.Create();
                      toolbar.Custom().Text("Add Warehouse").Name("AddWarehouse");
                  })

                  .Editable(editable =>
                  {
                      editable.Mode(GridEditMode.InCell);
                      editable.DisplayDeleteConfirmation(false);
                  })
                  .Events(e =>
                  {
                      e.Edit("app.module.onEdit");
                      e.DataBound("app.module.onDataBound");
                  })
                  .Pageable()
                  .Navigatable()
                  .Resizable(r => r.Columns(true))
                  .Selectable(s => s.Enabled(false))
                  .Sortable()
                  .Scrollable()
                  .Filterable()
                  .HtmlAttributes(new { style = "height:620px;cursor: pointer;" })
                  .DataSource(dataSource => dataSource
                                          .Ajax()

                                          .Events(events =>
                                              events.Error("app.module.onDataSourceError"))
                                          .Model(model =>
                                          {
                                              model.Id(p => p.WarehouseId);
                                              model.Field(p => p.WarehouseId).Editable(false);
                                              model.Field(p => p.WarehouseCode).Editable(false);
                                          })
                              .PageSize(15)
                              .AutoSync(true)
                              .Read(read => read.Action("Read", "Warehouse"))
                          .Update(update => update.Action("Update", "Warehouse"))
                  .Create(create => create.Action("Create", "Warehouse").Data("app.module.additionalInfo"))
                  ))

<script>
    app.initWarehouseModule();
</script>

